<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common.css}" >
    <title>Items List</title>

</head>

<body>
<div class="navbar">
    <div class="nav-container">
        <div class="nav-item">
            <a th:href="@{/}"> Home </a>
            <sec:authorize access="hasRole('ADMIN')">
            <a  href="/get/customers"
                sec:authorize="hasRole('ROLE_ADMIN')">Customers list</a>
            </sec:authorize>

        </div>
        <div>
            <form th:action="@{/logout}"
                  method = "POST">

                <input type = "submit" class="btn btn-danger btns-a" value = "Logout" />
            </form>
        </div>
    </div>
</div>

<div class="container">

    <div class="mainContainer">
        <h3>Items List</h3>
        <hr>
        <a th:href = "@{/items/showFormForAdd}"
           class="btn btn-primary btns-a" style="margin-bottom: 10px;">Add Item</a>


        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Item Name</th>

                <th>Price (Rs.)</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each = "tempItem:${items}">
                <td th:text = "${tempItem.name}" />

                <td th:text = "${tempItem.price}" />
                <td>
                    <a th:href="@{/items/showFromForUpdate(itemId=${tempItem.id})}"
                       class="btn-info btn btns-a">
                        Update
                    </a>
                    <a th:href="@{/items/delete(itemId=${tempItem.id})}"
                       class="btn-danger btn btns-a"
                       onclick="if(!(confirm('Are you sure you want to delete the Item ?')))return false">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>

</html>